<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
</head>
<body>

<h1>Shopping Cart</h1>

{% if cart_items %}

<ul>

{% for item in cart_items %}

    <li>
       <h2>{{ item.product.name }}</h2>

       <p>₹{{ item.product.price }}</p>

       <p>Quantity: {{ item.quantity }}</p>

       <p><strong>Subtotal:</strong> ₹{{ item.product.price * item.quantity }}</p>

    </li>

{% endfor %}

</ul>

{% else %}

<p>Your cart is empty.</p>

{% endif %}

<hr>

<h2>Total: ₹{{ total }}</h2>

</body>
</html>