{% extends "base.html" %}

{% block title %}
My Orders - ShopSphere
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">My Orders</h2>

    {% if orders %}

        {% for order in orders %}

        <div class="card shadow-sm mb-4">

            <div class="card-body">

                <div class="row">

                    <div class="col-md-3">
                        <strong>Order ID</strong><br>
                        #{{ order.id }}
                    </div>

                    <div class="col-md-3">
                        <strong>Order Date</strong><br>
                        {{ order.created_at.strftime("%d-%m-%Y %I:%M %p") }}
                    </div>

                    <div class="col-md-2">
                        <strong>Total</strong><br>
                        <span class="text-success">
                            ₹{{ order.total_amount }}
                        </span>
                    </div>

                    <div class="col-md-2">
                        <strong>Payment</strong><br>

                        {% if order.payment_status == "Paid" %}

                            <span class="badge bg-success">
                                {{ order.payment_status }}
                            </span>

                        {% else %}

                            <span class="badge bg-warning text-dark">
                                {{ order.payment_status }}
                            </span>

                        {% endif %}

                    </div>

                    <div class="col-md-2">
                        <strong>Status</strong><br>

                        <span class="badge bg-primary">
                            {{ order.order_status }}
                        </span>

                    </div>

                </div>

            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="alert alert-info">
            No orders found.
        </div>

    {% endif %}

</div>

{% endblock %}