<!DOCTYPE html>
<html>
<head>
    <title>ShopSphere Products</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>ShopSphere Products</h1>

<div class="products">

{% for product in products %}

<div class="card">

    <h2>{{ product.name }}</h2>

    <p>{{ product.description }}</p>

    <p class="price">₹{{ product.price }}</p>

    <p class="stock">Stock: {{ product.stock }}</p>

    <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">

    <button type="submit">Add to Cart</button>

</form>

</div>

{% endfor %}

</div>

</body>
</html>